@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin columns($elements, $marginWidth) {
  $margins: $elements - 1;
  $marginPercent: $marginWidth / 100%;
  $totalMarginWidth: $margins * $marginWidth;
  $elementWidth: ((100% - $totalMarginWidth)/$elements)/100%;
  width: $elementWidth * 100%;
  margin-right: $marginPercent * 100%;
  margin-bottom: $marginPercent * 100%;
}


/*--- Breakpoints ---*/

$mobile-small:	240px;
$mobile-large:	320px;
$tablet-small:	480px;
$tablet-large:	768px;
$screen-small:	1024px;
$screen-large:	1280px;

@mixin mobile {
  @media (max-width: #{$tablet-small - 1px}) {
    @content;
  }
}

/*@mixin mobile-large {
  @media (min-width: #{$mobile-small}) and (max-width: #{$mobile-large - 1px}) {
    @content;
  }
}

@mixin tablet-small {
  @media (min-width: #{$mobile-large}) and (max-width: #{$tablet-small - 1px}) {
    @content;
  }
}

@mixin tablet-large {
  @media (min-width: #{$tablet-small}) and (max-width: #{$tablet-large - 1px}) {
    @content;
  }
}*/

@mixin tablet {
  @media (min-width: #{$tablet-small}) and (max-width: #{$screen-small - 1px}) {
    @content;
  }
}

@mixin screen-large {
  @media (min-width: #{$screen-small}) and (max-width: #{$screen-large - 1px}) {
    @content;
  }
}

@mixin screen-huge {
  @media (min-width: #{$screen-large}) {
    @content;
  }
}