/*--- Top-Navigation ---*/

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #333;*/

  li {
  float: right;

    a {
      display: inline-block;
      color: #000;
      text-align: center;
      margin: 14px 16px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 17px;
      border-bottom: 1px solid #c8c8c8;

      &:hover {
        border-bottom: 1px solid #000;
      }

      &:active {
        border-bottom: 1px solid #000;
      }
    }
  }
  
  li.icon {
    display: none;
  }
}

@include mobile {

  ul.topnav li:not(:first-child) {display: none;}

  ul.topnav li.icon {
    float: right;
    display: inline-block;
    background-color: #f35858;
    

    a {

    border-bottom: 0px;
    color: #fff;

      &:hover {
        border-bottom: 0px;
      }

      &:active {
        border-bottom: 0px;
      }
    }
  }
  
  ul.topnav.responsive {
    position: relative;
    background-color: #f35858;

    li.icon {
      position: absolute;
      right: 0;
      top: 0;

      a{
        border-bottom: 0px;

        &:hover {
          border-bottom: 0px;
        }

        &:active {
          border-bottom: 0px;
        }
        }
    }

    li {
      float: none;
      display: inline;

      a{
        display: block;
        text-align: left;

        border-bottom: 1px solid #f35858;
        color: #fff;

        &:hover {
          border-bottom: 1px solid #fff;
        }

        &:active {
          border-bottom: 1px solid #fff;
        }
      }
    }
  }
}

@include tablet {

  ul.topnav li:not(:first-child) {display: none;}

  ul.topnav li.icon {
    float: right;
    display: inline-block;
    background-color: #f35858;
    

    a {

    border-bottom: 0px;
    color: #fff;

      &:hover {
        border-bottom: 0px;
      }

      &:active {
        border-bottom: 0px;
      }
    }
  }
  
  ul.topnav.responsive {
    position: relative;
    background-color: #f35858;

    li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    li {
      float: none;
      display: inline;

      a{
        display: block;
        text-align: left;

        border-bottom: 1px solid #f35858;
        color: #fff;

        &:hover {
          border-bottom: 1px solid #fff;
        }

        &:active {
          border-bottom: 1px solid #fff;
        }
      }
    }
  }
}