/*--- RESET ---*/
@import "compass/reset";
@import "compass/css3";

@import "variables";
@import "mixins";

@import "navigation";

/*--- Basics ---*/

	@-ms-viewport {
		width: device-width;
	}

	body {
		background: #f5f7fa;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		/*color: #52575c;*/
		color: #000;
		background-color: #c8c8c8;
		line-height: 1.75em;
		font-size: 14px;

		@include  mobile {
			font-size: 16px;
		}
	}

	h1, h2 {
		font-weight: 300;
		color: #52575c;
	}

	h1 a, h2 a, {
		color: inherit;
		text-decoration: none;
	}

	h2 {
		font-size: 1.25em;
		line-height: 1.25em;
		margin: 22px 0px 10px 25px;
    	float: left;

    	@include  mobile {
			font-size: 1.5em;
		}
	}

	a {
		color: inherit;
		text-decoration: none;

		/*&:hover {
			color: #f35858;
		}*/
	}

	p, ul, ol, dl, table {
		margin-bottom: 1.5em;
	}

	header {
		margin: 30px 0px;

		h1 {
			margin: 0;
		    font-size: 2em;
		    font-weight: 600;
		    text-transform: uppercase;
		    display: inline-block;
		    margin: 14px 16px;
		}

		.responsive h1 {
			 @include tablet {
				color: #fff;
			}

			@include mobile {
				color: #fff;
			}
		}
	}


/*--- Container ---*/

.wrapper {
	max-width: 1260px;
	margin: 0 auto;

	@include tablet {
		margin: 0px 20px;
	}

	@include mobile {
		margin: 0px 20px;
	}
}

/*--- Grid ---*/

.grid {
  @include clearfix;
	    .item {
	        float: left;
	        background-color: #fff;
	        @include columns(4, 2%);

	        &:nth-child(4n+4) {
	        	margin-right: 0;
	        }

	        @include tablet {
	        	@include columns(3, 2%);

				&:nth-child(4n+4) {
	        		@include columns(3, 2%);
	        	}

	        	&:nth-child(3n+3) {
	        		margin-right: 0;
	        	}
			}

			@media (min-width: 480px) and (max-width: 700px) {
	        	@include columns(2, 2%);

				&:nth-child(4n+4), &:nth-child(3n+3) {
	        		@include columns(2, 2%);
	        	}

	        	&:nth-child(2n+2) {
	        		margin-right: 0;
	        	}
			}

			@include  mobile {
				width: 100%;
				margin-right: 0;
			}
	    }

	    img {
	        display: block;
	        max-width: 100%;
	    }
}

/*--- Filter ---*/

.filterSection {
    margin: 0px 0px 20px 20px;
    padding: 0px;

    @include mobile {
		margin: 0px 0px 20px 10px;
		display: inline-block;
	}

    li {
	    list-style: none;
	    margin: 0px 10px 0px 0px;
	    padding: 5px 10px 5px 5px;
	    border-radius: 20px;
	    display: inline;

	    @include mobile {
			display: inline-block;
		} 

	    &.gemuse {
			background-color: $gemuse;
		} 
		&.obst {
			background-color: $obst;
		}  
	    &.fleisch {
			background-color: $fleisch;
		} 
	}

	input[type="checkbox" i] {
	    top: 2px;
	    position: relative;
	}
}

.showItem {
    display: block;
}
.hideItem {
    display: none;
}

/*--- Kategorien ---*/

.category {
	float: right;
    margin: 25px 25px 0px 0px;
    padding: 0px 10px;
    border-radius: 20px;
}

.category.obst {
	background-color: $obst;
}

.category.gemuse {
	background-color: $gemuse;
	color: $white;
}

.category.fleisch {
	background-color: $fleisch;
	color: $white;
}

.item p {
	clear: both;
	margin: 0px 25px;
}

.item a {
	display: block;
	margin: 10px 25px 25px 25px;

	span {
		font-weight: 600;
	}

	span.obst {
		color: $obst;
	}

	span.gemuse {
		color: $gemuse;
	}

	span.fleisch {
		color: $fleisch;
	}
}

