/*--- RESET ---*/
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*$color-main: $darkblue;
$color-backgrounds: $offwhite;
$color-headlines: $red;*/
/*--- Breakpoints ---*/
/*@mixin mobile-large {
  @media (min-width: 240px) and (max-width: 319px) {
    @content;
  }
}

@mixin tablet-small {
  @media (min-width: 320px) and (max-width: 479px) {
    @content;
  }
}

@mixin tablet-large {
  @media (min-width: 480px) and (max-width: 767px) {
    @content;
  }
}*/
/*--- Top-Navigation ---*/
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #333;*/
}
ul.topnav li {
  float: right;
}
ul.topnav li a {
  display: inline-block;
  color: #000;
  text-align: center;
  margin: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  border-bottom: 1px solid #c8c8c8;
}
ul.topnav li a:hover {
  border-bottom: 1px solid #000;
}
ul.topnav li a:active {
  border-bottom: 1px solid #000;
}
ul.topnav li.icon {
  display: none;
}

@media (max-width: 479px) {
  ul.topnav li:not(:first-child) {
    display: none;
  }

  ul.topnav li.icon {
    float: right;
    display: inline-block;
    background-color: #f35858;
  }
  ul.topnav li.icon a {
    border-bottom: 0px;
    color: #fff;
  }
  ul.topnav li.icon a:hover {
    border-bottom: 0px;
  }
  ul.topnav li.icon a:active {
    border-bottom: 0px;
  }

  ul.topnav.responsive {
    position: relative;
    background-color: #f35858;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li.icon a {
    border-bottom: 0px;
  }
  ul.topnav.responsive li.icon a:hover {
    border-bottom: 0px;
  }
  ul.topnav.responsive li.icon a:active {
    border-bottom: 0px;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
    border-bottom: 1px solid #f35858;
    color: #fff;
  }
  ul.topnav.responsive li a:hover {
    border-bottom: 1px solid #fff;
  }
  ul.topnav.responsive li a:active {
    border-bottom: 1px solid #fff;
  }
}
@media (min-width: 480px) and (max-width: 1023px) {
  ul.topnav li:not(:first-child) {
    display: none;
  }

  ul.topnav li.icon {
    float: right;
    display: inline-block;
    background-color: #f35858;
  }
  ul.topnav li.icon a {
    border-bottom: 0px;
    color: #fff;
  }
  ul.topnav li.icon a:hover {
    border-bottom: 0px;
  }
  ul.topnav li.icon a:active {
    border-bottom: 0px;
  }

  ul.topnav.responsive {
    position: relative;
    background-color: #f35858;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
    border-bottom: 1px solid #f35858;
    color: #fff;
  }
  ul.topnav.responsive li a:hover {
    border-bottom: 1px solid #fff;
  }
  ul.topnav.responsive li a:active {
    border-bottom: 1px solid #fff;
  }
}
/*--- Basics ---*/
@-ms-viewport {
  width: device-width;
}
body {
  background: #f5f7fa;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  /*color: #52575c;*/
  color: #000;
  background-color: #c8c8c8;
  line-height: 1.75em;
  font-size: 14px;
}
@media (max-width: 479px) {
  body {
    font-size: 16px;
  }
}

h1, h2 {
  font-weight: 300;
  color: #52575c;
}

h1 a, h2 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.25em;
  line-height: 1.25em;
  margin: 22px 0px 10px 25px;
  float: left;
}
@media (max-width: 479px) {
  h2 {
    font-size: 1.5em;
  }
}

a {
  color: inherit;
  text-decoration: none;
  /*&:hover {
  	color: #f35858;
  }*/
}

p, ul, ol, dl, table {
  margin-bottom: 1.5em;
}

header {
  margin: 30px 0px;
}
header h1 {
  margin: 0;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 14px 16px;
}
@media (min-width: 480px) and (max-width: 1023px) {
  header .responsive h1 {
    color: #fff;
  }
}
@media (max-width: 479px) {
  header .responsive h1 {
    color: #fff;
  }
}

/*--- Container ---*/
.wrapper {
  max-width: 1260px;
  margin: 0 auto;
}
@media (min-width: 480px) and (max-width: 1023px) {
  .wrapper {
    margin: 0px 20px;
  }
}
@media (max-width: 479px) {
  .wrapper {
    margin: 0px 20px;
  }
}

/*--- Grid ---*/
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.grid .item {
  float: left;
  background-color: #fff;
  width: 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}
.grid .item:nth-child(4n+4) {
  margin-right: 0;
}
@media (min-width: 480px) and (max-width: 1023px) {
  .grid .item {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .grid .item:nth-child(4n+4) {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .grid .item:nth-child(3n+3) {
    margin-right: 0;
  }
}
@media (min-width: 480px) and (max-width: 700px) {
  .grid .item {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .grid .item:nth-child(4n+4), .grid .item:nth-child(3n+3) {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .grid .item:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media (max-width: 479px) {
  .grid .item {
    width: 100%;
    margin-right: 0;
  }
}
.grid img {
  display: block;
  max-width: 100%;
}

/*--- Filter ---*/
.filterSection {
  margin: 0px 0px 20px 20px;
  padding: 0px;
}
@media (max-width: 479px) {
  .filterSection {
    margin: 0px 0px 20px 10px;
    display: inline-block;
  }
}
.filterSection li {
  list-style: none;
  margin: 0px 10px 0px 0px;
  padding: 5px 10px 5px 5px;
  border-radius: 20px;
  display: inline;
}
@media (max-width: 479px) {
  .filterSection li {
    display: inline-block;
  }
}
.filterSection li.gemuse {
  background-color: #2b9030;
}
.filterSection li.obst {
  background-color: #f39200;
}
.filterSection li.fleisch {
  background-color: #e73c01;
}
.filterSection input[type="checkbox" i] {
  top: 2px;
  position: relative;
}

.showItem {
  display: block;
}

.hideItem {
  display: none;
}

/*--- Kategorien ---*/
.category {
  float: right;
  margin: 25px 25px 0px 0px;
  padding: 0px 10px;
  border-radius: 20px;
}

.category.obst {
  background-color: #f39200;
}

.category.gemuse {
  background-color: #2b9030;
  color: #ffffff;
}

.category.fleisch {
  background-color: #e73c01;
  color: #ffffff;
}

.item p {
  clear: both;
  margin: 0px 25px;
}

.item a {
  display: block;
  margin: 10px 25px 25px 25px;
}
.item a span {
  font-weight: 600;
}
.item a span.obst {
  color: #f39200;
}
.item a span.gemuse {
  color: #2b9030;
}
.item a span.fleisch {
  color: #e73c01;
}
